<div class="main-map" leaflet [leafletOptions]="options" [leafletFitBounds]="imageBounds"
    (leafletMapReady)="onMapReady($event)" (leafletClick)="addMarkerToMap()"></div>

<!-- UI on top of map -->
<div class="absolute top-0 left-0 z-50 w-full h-full pointer-events-none">
    <div class="flex flex-col justify-between h-full">
        <div class="flex flex-row justify-between">
            <div class="flex flex-row m-4 space-x-1" style="zoom: 1.5">
                <!-- upper left -->
            </div>
            <div>
                <!-- upper right -->
            </div>
        </div>
        <div class="flex flex-row justify-between">
            <div>
                <!-- lower left -->
            </div>
            <div>
                <!-- lower right -->
            </div>
        </div>
    </div>
</div>
