.main-map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: white;
}
.button{
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
}

.button-2 {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    z-index: 1;
}

.button-3 {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
}

.search{
    display: flex;
        width: auto;
        height: auto;
        top: 1em;
        left: 50%;
        justify-content: center;
        padding-top: 1rem;
        z-index: 1;
}

 .white-bar {
position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 7vh;
    background: white;
    z-index: 0;
    border-radius: 3px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
