.main-map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: white;
}
.button{
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.button-2 {
    position: absolute;
    top: 3%;
    right: 0;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.button-3 {
    position: absolute;
    top: 6%;
    right: 0;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

